.navbar-toggle {
    float : left;
}
.navbar-default .navbar-toggle {
    border-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}
.navbar-default .navbar-brand {
    color: black;
    font-weight: 700;
}
.navbar-brand{
    font-size: 21px;
}