@media only screen and (min-width:600px) and (max-width: 1200px) {
    .page-layout{
        padding : 0; 
    }
    .img-size{
        width : 100%!important;
        height : 40%!important;
    }
}
@media only screen and (max-width: 500px) {
    .img-size{
        width : 100%!important;
        height : 20%!important;
    }
    .page-layout{
        padding : 0; 
    }
}
@media only screen and (min-width: 1200px) {
    .page-layout {
        margin : 0 15% 0 15%;
        box-shadow: 1px 1px 5px #888888;          
    }
    .img-size{
        width : 100%!important;
        height : 20%!important;
    }
}